<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>main4.html</h2>
	<table border="1">
		<tr>
			<th>이름</th>
			<th>나이</th>
		</tr>
		<tr th:each="user: ${userList}">
			<td th:text="${user.username}">이름</td>
			<td th:text="${user.age}">나이</td>
		</tr>
	</table>

	<h2>main4.html</h2>
	<table border="1">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>나이</th>
		</tr>
		<tr th:each="user, status: ${userList}" th:if="${user.age > 30}">
			<td th:text="${status.count}">번호</td>
			<td th:text="${user.username}">이름</td>
			<td th:text="${user.age}">나이</td>
		</tr>
	</table>
</body>
</html>